/*-- -------------------------- -->
<---        Why Choose          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-37 {
        position: relative;
        /* Prevents overflow from the image going off screen */
        overflow: hidden;
    }
    #why-choose-37 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 7vw, 4rem);
    }
    #why-choose-37 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 39.375rem;
        margin-right: auto;
        /* moved section padding to the .cs-content so we can have the cs-picture be full width on mobile without the padding preventing it from doing so */
        padding: var(--sectionPadding);
        padding-top: 0;
        /* prevents padding from affecting width and height */
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }
    #why-choose-37 .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 0.25rem;
        display: block;
    }
    #why-choose-37 .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 43.75rem;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
    }
    #why-choose-37 .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: 40.625rem;
        margin: 0;
        color: var(--bodyTextColor);
    }
    #why-choose-37 .cs-text {
        margin-bottom: 1rem;
    }
    #why-choose-37 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #why-choose-37 .cs-ul {
        padding: 0;
        margin: 0;
    }
    #why-choose-37 .cs-li {
        list-style: none;
        font-size: 1.25rem;
        line-height: 1.5em;
        font-weight: 700;
        margin-bottom: 0.5rem;
        color: #1a1a1a;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    #why-choose-37 .cs-icon {
        margin-right: 1rem;
    }
    #why-choose-37 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #why-choose-37 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #why-choose-37 .cs-button-solid:hover:before {
        width: 100%;
    }
    #why-choose-37 .cs-button-solid {
        /* button override */
        margin-top: 2rem;
    }
    #why-choose-37 .cs-picture {
        display: block;
        position: relative;
        width: 100%;
        height: 18.75rem;
    }
    #why-choose-37 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* makes it act like a background image */
        object-fit: cover;
    }
}
/* In Between - 650px */
@media only screen and (min-width: 40.625rem) {
    #why-choose-37 .cs-ul {
        columns: 2;
        max-width: 34.375rem;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-37 {
        /* moved padding pack to the section container */
        padding: var(--sectionPadding);
    }
    #why-choose-37 .cs-content {
        width: 60%;
        padding: 0;
    }
    #why-choose-37 .cs-picture {
        height: 100%;
        width: 50%;
        left: 50%;
        right: auto;
        display: block;
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
    #why-choose-37 .cs-picture:before {
        /* Triangle over image */
        content: "";
        width: 21.875rem;
        background: #fff;
        /* makes the triangle shape over the image */
        clip-path: polygon(0 0, 73% 0, 42% 100%, 0 100%);
        opacity: 1;
        display: block;
        position: absolute;
        top: -0.125rem;
        bottom: -0.125rem;
        left: -0.125rem;
        right: auto;
        z-index: 10;
    }
    #why-choose-37 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
/* Desktop - 1200px */
@media only screen and (min-width: 75rem) {
    #why-choose-37 .cs-picture:before {
        width: 18.75rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 14% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 14% 100%, 0 100%);
    }
}

                                