/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1611 {
      padding: var(--sectionPadding);
      position: relative;
      z-index: 2;
    }
    #reviews-1611 .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: 36.5rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
      position: relative;
      z-index: 1;
    }
    #reviews-1611 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }
    #reviews-1611 .cs-title,
    #reviews-1611 .cs-text {
      color: var(--bodyTextColorWhite);
    }
    #reviews-1611 .cs-text {
      /* 24px - 32px */
      margin-bottom: clamp(1.5rem, 3vw, 2rem);
    }
    #reviews-1611 .cs-picture {
      width: 100%;
      /* changes at desktop */
      height: 17.5rem;
      display: block;
      position: relative;
      z-index: 1;
    }
    #reviews-1611 .cs-picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
    #reviews-1611 .cs-flex-group {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.75rem;
    }
    #reviews-1611 .cs-profile-wrapper {
      width: 3.25rem;
      height: 3.25rem;
      border-radius: 50%;
      /* clips image corners to make circle */
      overflow: hidden;
      position: relative;
      display: block;
    }
    #reviews-1611 .cs-profile-wrapper img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* makes the image behave like a background image */
      object-fit: cover;
    }
    #reviews-1611 .cs-name {
      font-size: 1.25rem;
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
      margin-top: auto;
      color: var(--bodyTextColorWhite);
      display: block;
    }
    #reviews-1611 .cs-job {
      font-size: 1rem;
      line-height: 1.5em;
      font-weight: 400;
      margin: 0;
      color: var(--primary);
      display: block;
    }
    #reviews-1611 .cs-quotes {
      --quoteColor: var(--primary);
      /* 80px - 180px */
      width: clamp(5rem, 13vw, 11.25rem);
      height: auto;
      position: absolute;
      bottom: 0;
      right: 6%;
    }
    #reviews-1611 .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    #reviews-1611 .cs-background:before {
      /* black overlay */
      content: "";
      width: 100%;
      height: 100%;
      background: #1a1a1a;
      opacity: 0.9;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: 1;
    }
    #reviews-1611 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #reviews-1611 .cs-container {
      max-width: 80rem;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
    }
    #reviews-1611 .cs-content {
      width: 60%;
      flex: none;
    }
    #reviews-1611 .cs-picture {
      width: 50%;
      max-width: 25.8125rem;
      height: auto;
    }
  }
  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #reviews-1611 .cs-content {
      margin-bottom: 2.5rem;
    }
    #reviews-1611 .cs-picture {
      /* 480px - 516px */
      min-height: clamp(30rem, 40vw, 32.25rem);
      /* -120px to -176px */
      margin-bottom: calc(clamp(7.5rem, 14vw, 11rem)*-1);
    }
  }
  
  /*-- -------------------------- -->
  <---            CTA             -->
  <--- -------------------------- -*/
  
  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #cta-1611 {
      padding: var(--sectionPadding);
      /* 60px - 160px */
      padding-top: clamp(3.75rem, 9.82vw, 10rem);
      position: relative;
      z-index: 1;
    }
    #cta-1611 .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #cta-1611 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      max-width: 39.375rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }
    #cta-1611 .cs-title,
    #cta-1611 .cs-topper,
    #cta-1611 .cs-text {
      color: var(--bodyTextColorWhite);
    }
    #cta-1611 .cs-title {
      max-width: 20ch;
    }
    #cta-1611 .cs-text {
      margin: 0 0 2rem 0;
      opacity: .8;
    }
    #cta-1611 .cs-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
    #cta-1611 .cs-input {
      font-size: 1rem;
      width: 100%;
      height: clamp(2.875rem, 5.5vw, 3.5rem);
      margin: 0;
      padding: 0;
      padding-left: 1.25rem;
      border: none;
      /* prevents padding from adding to width and height */
      box-sizing: border-box;
      display: block;
    }
    #cta-1611 .cs-input::placeholder {
      color: #767676;
    }
    #cta-1611 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primaryLight);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
    }
    #cta-1611 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }
    #cta-1611 .cs-button-solid:hover:before {
      width: 100%;
    }
    #cta-1611 .cs-submit {
      width: 100%;
      border: none;
    }
    #cta-1611 .cs-submit:hover {
      cursor: pointer;
    }
    #cta-1611 .cs-wrapper {
      display: none;
    }
    #cta-1611 .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    #cta-1611 .cs-background:before {
      /* black overlay */
      content: "";
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.6;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: 1;
    }
    #cta-1611 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #cta-1611 .cs-container {
      max-width: 80rem;
    }
    #cta-1611 .cs-form {
      flex-direction: row;
    }
    #cta-1611 .cs-input {
      width: 22.5rem;
    }
    #cta-1611 .cs-submit {
      width: 13.875rem;
    }
    #cta-1611 .cs-wrapper {
      width: 100%;
      max-width: 110.875rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: -1;
      transform: translateX(-50%);
    }
    #cta-1611 .cs-fish {
      /* 172px - 336px */
      width: clamp(10.75rem, 20vw, 21rem);
      height: auto;
      display: block;
    }
  }
  /* Large Desktop 1300px - Parallax Scroll */
  @media only screen and (min-width: 81.25rem) {
    #cta-1611 {
      background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/underwater.jpg");
      background-size: cover;
      background-position: center 20%;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    #cta-1611 .cs-background img {
      display: none;
    }
  }
                                  